@{
    ViewBag.Title = "O mnie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Monika Nabielec<br />
    WSEI, Informatyka i ekonometria<br />
    Nr indeksu: 10597<br/>
   
</address>

