@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BOOK YOUR HOLIDAY</h1>
    <p class="lead">Aplikacja stworzona na potrzeby zaliczenia przedmiotu Testy i kontrola jakości oprogramowania.</p>
   
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Firstly</h2>
        <p>REGISTER
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Secondly</h2>
        <p>Choose your offer</p>
        <p><a class="btn btn-default" href="/Reservations/Index">Learn more &raquo;</a></p>
    </div>
    
</div>